.page1 {
    font-family: Arial, Helvetica, sans-serif;
    width: 1920px;
    height: 732px;
    background: rgba(43, 56, 71, 1);
    position: relative;
    overflow: hidden;
}

.clients {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 581px;
    height: 436px;
    color: white;
    top: 160px;
    left: 240px;
    gap: 48px;
}

.text {
    width: 581px;
    height: 328px;
}

.header {
    width: 581px;
    height: 88px;
    gap: 8px;
}

span {
    color: rgba(254, 117, 3, 1);
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

h1 {
    width: 581px;
    height: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.paragraph {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
}

.btn {
    width: 282px;
    height: 60px;
    color: white;
    border-radius: 6px;
    border: none;
    background-color: rgba(254, 117, 3, 1);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(254, 116, 3, 0.795);
    cursor: pointer;
}

.logo {
    width: 213px;
    height: 110px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.First,
.second,
.third {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.First {
    top: 30px;
    left: 977px;
}

.second {
    top: -44px;
    left: 1222px;
    overflow: hidden;
}

.third {
    top: 30px;
    left: 1467px;
}

.logo img[src*="MinstryOfJustice.png"] {
    width: 80px;
    height: 64px;
}

.logo img[src*="ZOO.png"] {
    width: 71.47px;
    height: 55px;
}

.logo img[src*="British Airways.png"] {
    width: 164px;
    height: 25px;
}

.logo img[src*="Yorkshire Building Society.png"] {
    width: 157px;
    height: 26.68px;
}

.logo img[src*="ofgmen.png"] {
    width: 88px;
    height: 34px;
}

.logo img[src*="Lidlup.png"] {
    width: 66.67px;
    height: 66.67px;
    position: absolute;
    top: 44px;
}

.logo img[src*="Nottengtamshire.png"] {
    width: 126px;
    height: 41px;
}

.logo img[src*="flybe.png"] {
    width: 79px;
    height: 32px;
}

.logo img[src*="Humberside.png"] {
    width: 128px;
    height: 60px;
}

.logo img[src*="booking.png"] {
    width: 137.56px;
    height: 23.34px;
}

.logo img[src*="Lidldown.png"] {
    width: 66.67px;
    height: 66.67px;
    position: absolute;
    top: 0px;
}

.logo img[src*="leeds.png"] {
    width: 154px;
    height: 49px;
}

.logo img[src*="black.png"] {
    width: 168.26px;
    height: 28px;
}

.logo img[src*="NHS.png"] {
    width: 109px;
    height: 59px;
}

.logo img[src*="students.png"] {
    width: 119px;
    height: 51px;
}

.logo img[src*="HydePark.png"] {
    width: 108px;
    height: 47px;
}


@media screen and (max-width: 768px) {
    .page1 {
        width: 430px;
        height: 452px;
        min-height: 1044px;
        background-color: #2b3847;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 16px;
        position: relative;
        overflow: visible;

    }

    .clients {
        position: static;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
        color: white;
        width: 382px;
        height: 916px;
        gap: 48px;

    }

    .text,
    .header,
    h1 {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        margin: 12px 0;
    }

    .paragraph {
        font-size: 15px;
        line-height: 24px;
        height: auto;
    }

    .btn {
        width: 100%;
        max-width: 320px;
        height: 56px;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .First,
    .second,
    .third {
        position: static;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        width: 100%;
        margin-bottom: 12px;
        position: absolute;
        top: 452px;
        left: 20px;
    }

    .logo {
        width: 111px;
        height: 54px;
        background-color: white;
        border-radius: 6px;
        display: flex;
        padding: 8px;
        position: relative;
    }

    .logo img {
        position: absolute
    }

    .logo img[src*="MinstryOfJustice.png"] {
        width: 80px;
        height: 64px;
    }

    .logo img[src*="ZOO.png"] {
        width: 71.47px;
        height: 55px;
    }

    .logo img[src*="British Airways.png"] {
        width: 164px;
        height: 25px;
    }

    .logo img[src*="Yorkshire Building Society.png"] {
        width: 157px;
        height: 26.68px;
    }

    .logo img[src*="ofgmen.png"] {
        width: 88px;
        height: 34px;
    }

    .logo img[src*="Lidlup.png"] {
        width: 66.67px;
        height: 66.67px;
        position: absolute;
        top: 44px;
    }

    .logo img[src*="Nottengtamshire.png"] {
        width: 126px;
        height: 41px;
    }

    .logo img[src*="flybe.png"] {
        width: 79px;
        height: 32px;
    }

    .logo img[src*="Humberside.png"] {
        width: 128px;
        height: 60px;
    }

    .logo img[src*="booking.png"] {
        width: 137.56px;
        height: 23.34px;
    }

    .logo img[src*="Lidldown.png"] {
        width: 66.67px;
        height: 66.67px;
        position: absolute;
        top: 0px;
    }

    .logo img[src*="leeds.png"] {
        width: 154px;
        height: 49px;
    }

    .logo img[src*="black.png"] {
        width: 168.26px;
        height: 28px;
    }

    .logo img[src*="NHS.png"] {
        width: 109px;
        height: 59px;
    }

    .logo img[src*="students.png"] {
        width: 119px;
        height: 51px;
    }

    .logo img[src*="HydePark.png"] {
        width: 108px;
        height: 47px;
    }
}

/* --------------------------------------------- */

.page2 {
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.text2 {
    text-align: center;
    margin-bottom: 20px;
}

.span2 {
    color: #FE7503;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.h2 {
    font-size: 36px;
    color: #2D3E50;
    margin: 10px 0;
}

.p2 {
    color: #666;
    font-size: 16px;
}

.widgets {
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 100%;
}

.card {
    width: 380px;
    height: 320px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-label {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 12px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.btn2 {
    background-color: #9D0A62;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn2:hover {
    background-color: #7a0645;
}

.footer-box {
    width: 100%;
    max-width: 1100px;
    background-color: #FFF6E9;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    margin-top: 40px;
}

.block h2 {
    color: #2D3E50;
    font-size: 28px;
    margin-bottom: 10px;
}

.block p {
    color: #555;
    margin-bottom: 25px;
}

.btn-orange {
    background-color: #FE7503;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn-orange:hover {
    background-color: #e46a00dc;
}

@media screen and (max-width: 768px) {

    .page2 {
        padding: 40px 0;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 100%;
        gap: 30px;
        align-items: center;
    }

    .widgets {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 20px;
        padding: 0 20px;
        width: 100%;
        scroll-snap-type: x mandatory;
        direction: ltr;
        /* مهم عشان يبدأ من أول صورة */
        scroll-behavior: smooth;
        /* سكرول ناعم */
    }

    .widgets::-webkit-scrollbar {
        display: none;
    }

    .card {
        flex: 0 0 90%;
        /* الصورة تاخد أغلب الشاشة */
        height: 250px;
        scroll-snap-align: center;
        position: relative;
    }
}

/* --------------------------------------------- */

.page3 {
    width: 1920px;
    height: 694px;
    background-color: #2b3847;
    color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.page3 h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
}

.one {
    position: absolute;
    width: 350px;
    top: 88px;
    left: 240px;
}

.one p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
}

.trust-pilot {
    margin-top: 35px;
    margin-bottom: 40px;
}

.stars-row {
    display: flex;
    gap: 4px;
}

.star-box {
    background-color: #00b67a;
    color: white;
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 2px;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons i {
    background-color: #e67e22;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    color: white;
}

.two {
    position: absolute;
    width: 1046px;
    top: 88px;
    left: 700px;
    display: flex;
    justify-content: space-between;
}

.two div p {
    font-size: 14px;
    margin-bottom: 15px;
}

.two div p strong {
    font-size: 16px;
    display: block;
    margin-bottom: 25px;
}

.spantwo {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 550px;
    left: 240px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    position: absolute;
    top: 585px;
    left: 240px;
    width: 1440px;
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: 0.9;
    gap: 50px;
    justify-content: center;
}

.footer-bottom p {
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom p:hover {
    color: #FE7503;
}

.social-icons i:hover {
    cursor: pointer;
    background-color: #cc641a;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.phone-number,
.tel-link {
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
}

.phone-number:hover,
.tel-link:hover {
    color: #FE7503;
    text-decoration: underline;
}

.email-link {
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
}

.email-link:hover {
    color: #FE7503;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .page3 {
        width: 100%;
        height: auto;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .one {
        position: static;
        width: 100%;
        margin-bottom: 40px;
    }

    .one h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .two {
        position: static;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* ترتيب اللينكات تحت بعضها عمودياً */
        gap: 30px;
    }

    .two div {
        width: 100%;
    }

    .two div p strong {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .two div p {
        margin-bottom: 10px;
    }

    .spantwo {
        position: static;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 40px 0 20px 0;
    }

    .footer-bottom {
        position: static;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        text-align: left;
    }

    .social-icons {
        margin-top: 20px;
    }
}